# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) SQL
4) Julia
5) Java

Some of the commonly used libraries used by Data Scientists include:

Python:
1) numpy 
2) pandas
3) sci-kit learn
4) matplotlib
5) seaborn

R:
1) ggplot2
2) dplyr
3) caret
4) tidyverse
5) plotly

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**
- Create a Jupyter Notebook
- Use markdown and Python chunks
- Create a table in a markdown chunk
- List popular languages for Data Science
- Demonstrate simple arithmetic operations in Python
- Understand basic markdown formatting

## Author 
Emily Cam